<div class="mt-10 container mx-auto max-w-m rounded overflow-hidden shadow-lg">
    <div class=" px-6 py-4">
      <div  class="flex justify-center font-bold text-xl mb-2">List Of Famous</div>
      <p   class="flex justify-center space-y-4">
        This is the list of famous
      </p>
  
      <div *ngFor="let x of famousList[0] ; let index = index" class=" flex flex-col space-y-4  ">
        <div  class="rounded  mb-3  bg-gray-200 ">
  
          <div class="flex mb-4">
            <div class="w-3/4  h-12">
              <p class="mt-5">{{famousList[0][index].name}}</p>
            </div>
            <div class="w-1/4  h-12"> 
              <button (click)="onclickButton()" 
               class="mt-2.5 bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow red">
              Follow
          </button>
        </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>